* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: violet;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    height: 150px;
    padding: 10px;
}

nav ul li {
  display: inline-block;
  margin-right: 16px;
}

nav ul li a {
  color: #FFF;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
}

nav ul li a:hover {
  background-color:violet;
  color: white;
}

main {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about{
    text-align: center;
    font-size: 1.5em;
    margin: 0 0 2em;
    padding-left: 50px;
    clear: left;
    color: black;
}
.imagemcosplays{
    width: 20%;
    opacity: 1;
    float: left;
    margin: 0 30px 30px 0;
    box-shadow: 10px 10x 30px #000000;
}
.gallery-wrapper {
  flex-basis: 100%;
}

.gallery {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  height: 350px;
}

.gallery img {
  width: 100%;
  height: auto;
  margin-right: 16px;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
  }

.contact-form {
  flex-basis: calc(50% - 16px);
  padding: 16px;
  background-color: violet;
}

.contact-form h2 {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.contact-form div {
  margin-bottom: 16px;
}

.contact-form label {
  display: block;
  margin-bottom: 8px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: #FFF;
  margin-bottom: 8px;
}

.contact-form button {
  background-color:black;
  color: #FFF;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.contact-form button:hover {
  background-color: darkviolet;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: violet;
}

::-webkit-scrollbar-thumb {
  background-color: violet;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: black;
}

